.home-layout {
  width: 100%;
  box-sizing: border-box;
  padding-inline: 10px; /* Mobile default */
}

/* adauga padding 100px desktop, 50px tableta, 10px mobil */

/* Tablet padding */
@media (min-width: 768px) {
  .home-layout {
    padding-inline: 50px;
  }
}

/* Desktop padding */
@media (min-width: 1024px) {
  .home-layout {
    padding-inline: 100px;
  }
}
