.descriptionMap {
  display: flex;
  width: 100%;
  border-radius: var(--border-radius-lg);
  gap: var(--spacing-lg);
  background-color: var(--primary-900);
}

.description {
  width: 100%;
  display: flex;
  border-radius: var(--border-radius-lg);
  flex-direction: column;
}

.hotelInfo {
  padding-inline: var(--spacing-md);
  height: fit-content;
  color: var(--secondary-50);
  line-height: var(--line-height-tight);
}

.hotelInfo h3 {
  font-weight: var(--font-weight-light);
}

.servicesDescription {
  flex: 1;
  margin: var(--spacing-md);
  height: 250px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  border-radius: var(--border-radius-md);
}

.businessDescription {
  position: relative;
  height: 100%;
  color: var(--secondary-50);
  padding-inline: 10px;
  font-size: var(--font-size-md);
  line-height: var(--line-height-normal);
  border-radius: var(--border-radius-md);
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
}


.charCount {
  margin-top: auto;
  font-size: var(--font-size-sm);
  color: var(--text-secondary);
  padding: 5px 0;
}

.membershipCardContainer {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0;
}

.map {
  width: 550px;
  background: var(--secondary);
  outline: 2px solid var(--secondary);
  display: grid;
  height: 400px;
  border-radius: var(--border-radius-lg);
  overflow: hidden;
  place-items: center;
}

@media (max-width: 1024px) {
  .descriptionMap {
    display: grid;
    place-items: center;
    height: auto;
  }
  
  .map {
    width: 100%;
  }
} 